<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <%= render @product %>
    <% end %>
  </div>
</div>


<br>

<%= link_to 'New Product', new_product_path %>

<div class="row">
  <% @orders.each do |order| %>
    <div class="col-sm">
      <h1>Order # <%= order.id %>: <%= link_to order.product.price, order %>
      </h1>
      <p><%= order.product.description %></p>
      <strong>$ <%= order.product.price %></strong>
    </div><!-- /col -->
  <% end %>
</div>
