<p id="notice"><%= notice %></p>

  <img>
    <%= image_tag(@product.image_url, class: "thumbnail img-fluid img-zoom", data_zoom_image: "@product.product_image.url") %>
  </img>

  <div class="row product-description" data-product-id="<%= @product.id %>">

    <% cache @product do %>

    <section>
      <strong>Name:</strong>
      <%= @product.name %>
    </section>

    <section>
      <strong>Description:</strong>
      <%= @product.description %>
    </section>

    <section>
      Average Rating:
      <div class="rated" data-score="<%= @product.average_rating %>"></div>
    </section>

    <section>
      <strong>Image url:</strong>
      <%= @product.image_url %>
    </section>

    <section>
      <strong>Colour:</strong>
      <%= @product.colour %>
    </section>

    <section>
      <strong>Price:</strong>
      <%= @product.price %>
    </section>

    <% end %>

  </div>



  <div class="payment">
    <%= form_with(url: '/payments/create') do |form| %>
    <%= render partial: "shared/stripe_checkout_button" %>
    <%= hidden_field_tag(:product_id, @product.id) %>
    <% end %>
  </div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<div class="product-comments">
  <% if @product.highest_rating_comment %>
  <%= @product.highest_rating_comment.body %>
  <%= @product.lowest_rating_comment.body %>
  <% end %>
</div>

<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>

<div>
  <%= render 'new_comment' %>
  <%= render 'comment' %>
  <%= will_paginate @comments %>
</div>
